[submodule "mlir-air"]
	path = mlir-air
	url = git@github.com:JianyiCheng/mlir-air.git
[submodule "verilog-ethernet"]
	path = verilog-ethernet
	url = git@github.com:Yu-Zhewen/verilog-ethernet.git
[submodule "machop/third-party/peft"]
	path = machop/third-party/peft
	url = git@github.com:huggingface/peft.git
[submodule "machop/third-party/fpgaconvnet-optimiser"]
	path = machop/third-party/fpgaconvnet-optimiser
	url = https://github.com/AlexMontgomerie/fpgaconvnet-optimiser.git
	branch = dev
