torch
torchvision
torchaudio
lightning
transformers
diffusers
accelerate
toml
timm
pytorch-nlp
datasets

onnx
onnxconverter-common
optimum
black
GitPython
colorlog
cocotb[bus]==1.8.0
pytest
pytest-cov
pytest-xdist
pytest-sugar
pytest-html
pytest-profiling
ipython
ipdb
sentencepiece
einops
# deepspeed
pybind11
tabulate
tensorboard
optuna
stable-baselines3
scikit-learn
# LogicNets
h5py
numpy
pandas
wandb
# NeRF
imageio
imageio-ffmpeg
opencv-python
kornia
einops
# doc
sphinx
sphinx-rtd-theme
myst-parser
absl-py
scipy
sphinx-glpi-theme
prettytable
pyyaml
bitstring

# CUDA required
# onnxruntime-gpu
# tensorrt
# pynvml
# pycuda
# cuda-python
# pytorch-quantization # this needs installing from source