lightning
transformers
accelerate
toml
timm
pytorch-nlp
datasets
onnx
black
GitPython
colorlog
cocotb[bus]==1.8.0
pytest
ipython
ipdb
sentencepiece
einops
deepspeed
pybind11
tabulate
tensorboard
optuna
stable-baselines3
scikit-learn
nni==2.10.1
# LogicNets
h5py
pyyaml<6.0
numpy
pandas