name: Build Doc for the MASE website 

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    logLevel:
          description: 'Log level'
          required: true
          default: 'warning'
          type: choice
          options:
            - info
            - warning
            - debug
  

jobs:

  software-regression-test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/jianyicheng/mase-docker/mase-ci-build:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.MASE_DOCKER_CRED }}
    steps:

      # Clone the MASE repo and its submodules.
      - name: Get MASE
        uses: actions/checkout@v3
        with:
            submodules: "true"

      - name: Set git safe
        run: |
          git config --global --add safe.directory $PWD

      - name: Build sphinx html
        run: |
          cd machop/sphinx_docs
          make html 2>&1 | tee html.log
          ! grep -rn html.log -e "Error" || exit 1
          cd ../..

      - name: Run ghp-import
        run: |
          ghp-import -n -p -f machop/sphinx_docs/build/html

