name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
          submodules: "true"
    - name: Build the Docker image
      run: 
          make sync
          make build-docker
          
    - name: Build the tool
      run:
          make shell
          make build
